.register-form {
  max-width: 800px;
}
.register-form-forgot {
  float: right;
}
.register-form-button {
  width: 50%;
}

.content {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
}
